@media (max-width: 992px) {
  .banner-title {
    font-size: 80px;
  }

  .img-ofset {
    transform: translateY(0px);
  }

  .discover-tala {
    padding-top: 2rem;
  }

  .discover-tala .tala-content .tala-title {
    font-size: 46px;
  }
  .tala-info .info-content .info-title {
    font-size: 46px;
  }
  .tala-info .info-content .info .info-item {
    flex-direction: column;
  }
  .tala-info .info-content .info .info-item p {
    margin-left: 0rem;
    margin-top: 0rem;
  }
  .tala-info {
    padding-inline: 1rem;
    padding-block: 1rem;
  }
  .about-section .about-content .about-title {
    font-size: 60px;
  }
  .Objective-features .of-text{
    width: 80%;
  }
  img{
    width: 100%;
  }
  .our-video {
    height: 500px;
  }

}

/* ===================768=============  */
@media (max-width: 768px) {
  .tala-info .info-content .info-title {
    font-size: 40px;
  }
  .tala-info .info-content .info .info-item h1 {
    font-size: 1.7rem;
  }
  .tala-info .info-content .info .info-item p {
    font-size: 0.8rem;
  }
  .Objective-features .of-heding {
    font-size: 50px;
  }
  .Objective-features .of-text {
    width: 100%;
  }
  .Objective-features .of-content .objective .objective-story {
    bottom: -10px;
  }
  .award-section .award-content .award-text {
    width: 100%;
  }
  .advertise-section .advertise-content {
    padding-inline: 0px;
  }
  .our-video {
    height: 400px;
  }
  .tala-video .play-btn {
    font-size: 4rem;
  }
  .gallery-section .gallery-text {
    width: 100%;
  }
  /* .footer-bar {
    padding-left: 0;
  } */
  
 
}

/* ===================576============= */
@media (max-width: 576px) {
  .banner-title {
    font-size: 48px;
  }

  .img-ofset {
    transform: translateY(0px);
  }

  .discover-tala {
    padding-top: 2rem;
  }

  .discover-tala .tala-content .tala-title {
    font-size: 50px;
  }

  .tala-info {
    padding-inline: 1rem;
    padding-block: 1rem;
  }

  .tala-info .info-content {
    padding: 0;
  }

  .tala-info .info-content .info .info-item {
    display: block;
  }

  .Objective-features .of-heding {
    font-size: 32px;
  }

  .Objective-features .of-text {
    width: 100%;
  }

  .award-section .award-content .award-text {
    width: 100%;
  }

  .advertise-section .advertise-content {
    flex-direction: column;
  }
  .our-video {
    height: 300px;
  }
  .tala-video .play-btn {
    font-size: 4rem;
  }

  .messart-img {
    width: 80px;
  }

  .left-content {
    width: 100%;
  }

  .advertise-section .advertise-content {
    padding-inline: 0;
  }

  .gallery-section .gallery-text {
    width: 100%;
  }
  .menu-link {
    flex-direction: column;
  }

  .footer-bar {
    padding: 2rem 1rem;
  }

  .logo-section {
    padding: 2rem 1rem;
  }

  .newsletter-form {
    max-width: 100%;
  }
}
